@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

// $width-box: 120px; 
// $height-box: 100px; 


$gap: 15px;
$width-container: 400px;
$height-container: 300px;

*{
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#drum-machine{
  background: orange;
  padding: 5px;
}
#display{
  background: gray;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
 }
#key-container{
  width: $width-container;
  height: $height-container;
  background: wheat;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  gap: $gap;
  padding: 20px;
  }
#control-container{
  width: 400px;
  height: 200px;
  }
.drum-pad{
  width: 100%;
  height: 100%;
  background: #546E7A;
  color: white;
  font: 700 24px "Open Sans", sans-serif;
  border-radius: 5px;
  box-shadow: 5px 5px 8px black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
    &:active{
      background: orange;
    }
  }
@media screen and (max-width: 800px){
  #display{
    flex-direction: column;
    }
  }